.comic-item {
  display: flex;
  flex-direction: column;
  background-color: crimson;
  border-radius: 10px;
  overflow: hidden;
  max-width: 30rem;
}

.comic-item__image {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.comic-item__text {
  padding: 1rem;
}

.comic-item__title {
  color: white;
  flex: 1;

  // FIXME: The three dots are not showing when cutting the text to 1 line...
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  border: none;
  font-family: inherit;
  background-color: transparent;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  outline: none;
  white-space: nowrap;

  a {
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }

    &:active,
    &:hover {
      color: darkred;
      cursor: pointer;
    }
  }
}
