.form-search {
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-search__label {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: crimson;
}

.form-search__inputs {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;

  &:focus-within {
    box-shadow: crimson 0px 0px 0px 1px;
  }
}

.form-search__input {
  border: none;
  outline: none;
  flex: 9;
  padding: 1.2rem;
  font-size: 1.4rem;
  height: 100%;
}
